#title {
  color: pink;
  text-align: center;
  font-family: Lucida Handwriting;
}

nav {
  position: fixed;
  top: 70px;
  left: 0vw;
  width: 99vw;
  height: 5vh;
  text-align: center;
  background: #f0edea;
  padding: 10px;
  font-family: Lucida Handwriting;
  font-size: 15px;
  opacity: 0.5;
  -moz-border-radius-topright: 50px 50px;
  border-top-right-radius: 50px 50px;
  -moz-border-radius-topleft: 50px 50px;
  border-top-left-radius: 50px 50px;
  -moz-border-radius-bottomright: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  -moz-border-radius-bottomleft: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}

#jar {
  background-color: #f0edea;
  position: fixed;
  top: 170px;
  font-family: Lucida Handwriting;
  text-align: center;
  padding: 10px;
}

#howto {
  background-color: #f0edea;
  position: fixed;
  top: 170px;
  text-align: center;
  padding: 10px;
}

#credit {
  background-color: #f0edea;
  position: fixed;
  top: 170px;
  text-align: center;
  padding: 10px;
}

#notesinthejar {
  top: 300px;
}

#magenta {
  background-color: magenta;
  position: fixed;
  top: 200px;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
}

#pink {
  background-color: pink;
  position: fixed;
  top: 200px;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
}

#red {
  background-color: red;
  position: fixed;
  top: 200px;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
}

#orange {
  background-color: orange;
  position: fixed;
  top: 200px;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
}

#yellow {
  background-color: yellow;
  position: fixed;
  top: 200px;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
}
