/*main*/
body {
  padding: 7px;
}

#title {
  color: black;
  text-align: center;
  font-family: Papyrus;
  top: 5vh;
}

nav {
  position: absolute;
  top: 15vh;
  left: 1.8vw;
  width: 95vw;
  height: 5vh;
  text-align: center;
  padding: 10px;
  font-family: Papyrus;
  font-size: 20px;
  opacity: 0.5;
}

#nav {
  text-decoration: none;
  padding: 5px;
}

#nav:hover {
  background-color: black;
  color: #f0edea;
  padding: 5px;
  border-radius: 12.5px;
}

button {
  background-color: white;
  border-radius: 12.5px;
  opacity: 0.9;
  border-color: white;
}

button:hover {
  background-color: black;
  color: #f0edea;
  border-radius: 12.5px;
  opacity: 0.7;
}

/*items in nav*/

#jar {
  background-color: #f0edea;
  position: absolute;
  top: 30vh;
  width: 50.5vw;
  left: 24vw;
  font-family: Papyrus;
  text-align: center;
  padding: 5px;
  border-radius: 20px 20px 0 0;
}

#notesinthejar {
  position: absolute;
  top: 20vh;
  width: 50vw;
  height: 43vh;
  bottom: 30vh;
  font-size: 20px;
  line-height: 45px;
  background: #a5c4d4;
  opacity: 0.5;
  border: 5px solid #a2b9c4;
  border-radius: 0 0 20px 20px;
  border-top: none;
}

#howto {
  background-color: #f0edea;
  position: absolute;
  top: 30vh;
  text-align: center;
  padding: 10px;
  width: 50vw;
  left: 24vw;
  font-family: Comic Sans MS;
  font-size: 15px;
  border-radius: 25px 25px 25px 25px;
}

#credit {
  background-color: #f0edea;
  position: absolute;
  top: 30vh;
  text-align: center;
  padding: 10px;
  width: 50vw;
  left: 24vw;
  font-family: Comic Sans MS;
  border-radius: 25px 25px 25px 25px;
}

/*notes*/

img {
  height: 37vh;
}

#linkmagenta {
  background-color: #ff9cee;
  color: black;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkmagenta:hover {
  background-color: black;
  color: #ff9cee;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkpink {
  background-color: #fda4ba;
  color: black;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkpink:hover {
  background-color: black;
  color: #fda4ba;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkred {
  background-color: #ff6663;
  color: black;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkred:hover {
  background-color: black;
  color: #ff6663;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkorange {
  background-color: #fdd081;
  color: black;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkorange:hover {
  background-color: black;
  color: #fdd081;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkyellow {
  background-color: #fdfd97;
  color: black;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#linkyellow:hover {
  background-color: black;
  color: #fdfd97;
  padding: 5px;
  border: 1px solid #a2b9c4;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}

#magenta {
  background-color: #ff9cee;
  position: absolute;
  width: 50vw;
  left: 24vw;
  top: 40vh;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}

#pink {
  background-color: #fda4ba;
  position: absolute;
  width: 50vw;
  left: 24vw;
  top: 30vh;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}

#red {
  background-color: #ff6663;
  position: absolute;
  width: 50vw;
  left: 24vw;
  top: 30vh;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}

#orange {
  background-color: #fdd081;
  position: absolute;
  width: 50vw;
  left: 24vw;
  top: 40vh;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}

#yellow {
  background-color: #fdfd97;
  position: absolute;
  width: 50vw;
  left: 24vw;
  top: 30vh;
  font-family: Comic Sans MS;
  text-align: center;
  padding: 10px;
  border-radius: 25px 25px 25px 25px;
}
